<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gobunov.translit</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>816667CB-E309-42DA-A6AE-856C215E2717</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD5B5582-EBCF-47A3-8AEF-D4C22BA60068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD01EB78-06A0-43AE-A51A-41E3958F109D</key>
		<array/>
		<key>CD5B5582-EBCF-47A3-8AEF-D4C22BA60068</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD01EB78-06A0-43AE-A51A-41E3958F109D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stanislav Gobunov &lt;stas@gobunov.com&gt;</string>
	<key>description</key>
	<string>cyrillic transliterate</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>translit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>80</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F19</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>816667CB-E309-42DA-A6AE-856C215E2717</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>tr.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CD5B5582-EBCF-47A3-8AEF-D4C22BA60068</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CD01EB78-06A0-43AE-A51A-41E3958F109D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>816667CB-E309-42DA-A6AE-856C215E2717</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>CD01EB78-06A0-43AE-A51A-41E3958F109D</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>CD5B5582-EBCF-47A3-8AEF-D4C22BA60068</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://gobunov.com</string>
</dict>
</plist>
